}
ul{
	

}
a{
	color: #880033;
	text-decoration: none;
}
body{
	background-color: white;
	background-image: url("Background-Transparent25-Resized100.png");
	font-family: verdana;
	font-size: 14px;
	font-color: gray;

}

}
h1{
	color: red;
	font-size: 24px;

}

h2{
	color: green;
	font-size: 18;
}

img {
    width: 100%;
    height: auto;
}